@import "../../../../variables";

$width: 100px;
$height: 100px;

.af-preview {
  width: $width;
  height: $height;
}

.af-wrapper {
  display: inline-block;
}

.af-label {
  width: 0;
  white-space: nowrap;
  float: left;
  position: relative;
  font-size: 12px;
  color: $warn;
  font-style: italic;
  user-select: none;
}

.label-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#wrapper {
  margin: 0 16px;
}
