#prompt {
  font-size: 24px;
}

.wrapper {
  margin-top: 100px;
  margin-left: 100px;
}

mat-card {
  max-width: 575px;
  margin: 32px auto auto;
}

.nums {
  width: 50%;
  display: inline-block;
  text-align: center;
}
