body {
  margin: 0;
  padding: 0;

  background-color: #aaaaaa;
}

p {
  margin: 0
}

.title {
  margin: 32px 0 0 !important;
  text-align: center;
}

.subtitle {
  margin: 16px 0 !important;
  text-align: center;
}
